body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.page-logo-title1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -3%;
  color: #4d5ae5;
  text-decoration: none;
}

.page-logo-title2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -3%;
  color: #2e2f42;
  text-decoration: none;
}

.page-menu-list a {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
}

.page-menu-list li {
  list-style-type: none;
}

.page-menu-list a:hover {
  color: #404bbf;
}

.page-adress-list a {
  text-decoration: none;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  font-style: normal;
}

.page-adress-list li {
  list-style-type: none;
}

.page-adress-list a:hover {
  color: #404bbf;
}

.first-section {
  background-color: #2e2f42;
  height: 600px;
  width: 1440px;
  top: 72px;
}

.first-section h1 {
  width: 496px;
  height: 120px;
  top: 260px;
  left: 472px;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -2%;
  color: #ffffff;
}

.first-section button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -4%;
  text-align: center;

  padding: 16px, 32px;
  width: 169px;
  height: 56px;
  top: 428px;
  left: 636px;
  border-radius: 4px;
  border: none;
  gap: 10px;
}

.first-section button:hover {
  background-color: #404bbf;
}

.second-section li {
  list-style-type: none;
}

.second-section h3 {
  width: 264px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #2e2f42;
}

.second-section p {
  width: 264px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #434455;
}

.third-section {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
  top: 1016px;
}

.third-section h2 {
  width: 162px;
  height: 40 px;
  top: 1136px;
  left: 639px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%;
  text-align: center;
  color: #2e2f42;
}

.third-section li {
  list-style-type: none;
  width: 264px;
  height: 380px;
  padding: 0px, 0px, 32px, 0px;
  border-radius: 0px, 0px, 4px, 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}

.third-section h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: center;
  color: #2e2f42;
}

.third-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: center;
  color: #434455;
}

.fourth-section {
  background-color: white;
}

.fourth-section li {
  list-style-type: none;
  border-color: #e7e9fc;
  border-radius: 1px;
  width: 360px;
  height: 420px;
  top: 1980px;
  left: 156px;
  border-width: 0px, 1px, 1px, 1px;
  border-style: solid;
  border-color: #e7e9fc;
}

.fourth-section h2 {
  color: #2e2f42;
  width: 218px;
  height: 40px;
  top: 1868px;
  left: 611px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%;
  text-align: center;
}

.fourth-section h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
}

.fourth-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #434455;
}

.page-footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  top: 2988px;
}

.page-footer .page-logo-title2 {
  color: #f4f4fd;
}

.page-footer p {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  width: 264px;
  height: 72px;
  top: 3128px;
  left: 156px;
}
